


#theme-red:checked ~ .page-wrapper {
    background-color: #ffebeb; 
}

body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
}

#theme-red:checked ~ .page-wrapper .cv-content {
    color: #4a1c1c;
}

    #theme-red:checked ~ .page-wrapper h1,
    #theme-red:checked ~ .page-wrapper h2,
    #theme-red:checked ~ .page-wrapper h3 {
        color: #b71c1c;
    }

    #theme-red:checked ~ .page-wrapper header {
        border-bottom-color: #b71c1c;
    }

        #theme-red:checked ~ .page-wrapper header .header-photo-wrapper {
            border-color: #b71c1c;
        }

    #theme-red:checked ~ .page-wrapper a {
        color: #f44336;
        text-decoration: none;
    }

        #theme-red:checked ~ .page-wrapper a:hover {
            text-decoration: underline;
        }

    #theme-red:checked ~ .page-wrapper article {
        border-left-color: #f44336;
        background-color: #fffafb;
    }
